.MyFastCARE_header{
    min-height: 100px;

}

.MyFastCARE_navbar{
    min-height: 75px;
    font-size: medium;
}

body {
    /*background: #FCFBF4;*/
    background: #FCFBF4;
    align-items: center; /* Vertical centering */
}

.flex-container{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 30px;
}


.insurance-info {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.insurance-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.insurance-info ul {
    list-style-type: none;
    padding: 0;
}

.insurance-info li {
    margin-bottom: 10px;
}


  /* Page Buttons
  -------------------------------------------------- */

  .btn-secondary:hover, .btn-primary:hover {
    background-color: #048c7f;
}

/* Style the buttons*/
  .btn-secondary, .btn-primary{
    padding: 7px 10px;
    border-radius: 20px;
    background-color: #036c5f;
    color:white
    /*background-color: #00857a;*/
}


.btn-primary,
.btn-primary:focus,
.btn-primary:active


 {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}


.advanced{

    color: #00838f !important;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #00838f;
}
  

/* customize dropdowns
  -------------------------------------------------- */

  .findcaredropdowns {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; /* Align to the right */
    margin-top: 50px;
}

.findcaredropdowns div {
  margin-right: 10px;
}

.form-control-file {
  width: 250; /* Adjust the width of the dropdown */
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
}

.dropdown_item {
  width: 230px; /* Adjust the width of the dropdown */
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
}